{% extends 'base.html.twig' %}

{% block title %}Hello ChauffeurController!{% endblock %}

{% block body %}



 <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                 <th>Telephone</th>
               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for chauffeur in chauffeurs %}
                <tr>
                <td>{{ chauffeur.id }}</td>
                <td>{{ chauffeur.prenom }}</td>
                <td>{{ chauffeur.nom }}</td>
                <td>{{ chauffeur.telephone }}</td>
                <td>
                    <a href="#">afficher</a>
                    <a href="#">editer</a>
                </td>
                </tr>
            {% endfor %}
        
    
{% endblock %}
